.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataTables_filter{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.add-product{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-label-secondary {
    color: #8592a3;
    border-color: rgba(0, 0, 0, 0);
    background: #ebeef0;
}
.dropdown-toggle {
    white-space: nowrap;
}

.shows-stt {
    display: inline-grid;
    align-content: center;
}

.show-page{
    display: inline-grid;
    align-content: center;
    justify-content: end;
}